

<div class="container my-5">
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal">Angular TodoList</h1>
        <p class="fs-3">Todo list sites play a crucial role in helping you and your teams to   stay organized, focused, and productive by providing a centralized platform for managing tasks and activities. You May  used for personal task management or team collaboration, these sites empower You to take control of Your workload and achieve Your goals efficiently.</p>
        <p class="fs-5">Angular is a popular open-source web application framework maintained by Google and a community of developers. It's widely used for building single-page web applications (SPAs) and dynamic web applications.</p>
    </div>
    </div>
  </div>
